body {
    overflow-y: hidden;
    margin: 0;
}
* {
	margin: 0;
	padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
a:hover {
    font-weight: bold;
    color:#1bafa9;
}
ul {
	list-style-type: none;
}
#header {
    margin: 0 auto;
    background-color: #0f1621;
    color: white;
}
.container {
    width: 100%;
    height: 100%;
}
.top_button{
    margin-left: 15px;
}
.aside {
    float: left;
    position: relative;
    width: 260px;
    height: 100%;
    overflow: auto;
   	background-color: #383c45;
}

.accordion {
    width: 100%;
    max-width: 360px;
}

.accordion .link {
   cursor: pointer;
   display: block;
   padding: 8px 10px 8px 30px;
   font-size: 16px;
   position: relative;
   border-bottom: 1px solid #4b4a5e;
}

#header .logo {
    height: 75px;
}
.logo h1{
	margin:21.4px 0;
}

#contentcontainer {
    position: absolute;
    top: 75px;
    right: 0;
    bottom: 0;
}

.content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 260px;
}

#frame {
    padding:0 0 40px;
    width: 100%;
    height: 90%;
    overflow:auto;
    border: 0;
}

.logo {
    padding-left: 30px;
}

.logo h1 {
    float: left;
    *margin-top: 12px; /* IE7 */
    line-height: 20px\9; /* IE8 */
    *line-height: 40px; /* IE7 */
}

:root .logo h1 {
    line-height: 30px; /* IE8+ */
}

#UserInfo {
    padding: 25px;
    font-size: 20px;
    float: right;
}

#UserLabel {
    color: #DCDCDC;
    font-weight: 700;
}
